@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@keyframes bounce-short {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-short {
  animation: bounce-short 0.1s ease-in-out;
}
